In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [8]:
#Load the dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
## Delete the irrelevent columns
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [10]:
## There are two categorical veriables
## For gender I'll use label encoding
label_encode_gender = LabelEncoder()
df['Gender'] = label_encode_gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [11]:
## For Geography I'll use onehotencoder
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
geo_encoder = onehot_encoder_geo.fit_transform(df[['Geography']])
geo_encoder 
import numpy as np
cols = np.array(onehot_encoder_geo.get_feature_names_out(['Geography']))

In [13]:
geo_encoder_df = pd.DataFrame(geo_encoder,columns=cols)
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
## Combine all the columns in df
df = pd.concat([df.drop('Geography',axis=1),geo_encoder_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
### Now divide the dataset into dependent and independent features
X= df.drop('EstimatedSalary',axis=1)
y= df['EstimatedSalary']

##Split into train test split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## Scaling the features

scaler = StandardScaler()
X_train =  scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
## Save the encoders
## Gender Encoder
with open('label_encoder_gender_reg.pkl', 'wb') as file:
    pickle.dump(label_encode_gender,file)

## Onehotencoder for geography

with open('onehot_encoder_geo_reg.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

## Save the scaler

with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler,file)

In [19]:
## ANN with Regression 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [20]:


# Define the model
model = Sequential()

# Specify the input layer using Input()
model.add(Input(shape=(X_train.shape[1],)))  # Replace 'input_size' with the actual number of features

# Add additional layers
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))

# Output layer
model.add(Dense(1))  # For binary classification

In [21]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
## Compile the model for forward propagation 

model.compile(optimizer='adam',loss="mean_absolute_error",metrics=['mae'])

In [24]:
## Setup the tensor board for logs
log_dir ="regressionlogs/fit"+datetime.datetime.now().strftime("%y%m%d-%H%M%S")
 ## setup callback to visualize all your logs
tensorflow_callback= TensorBoard(log_dir=log_dir,histogram_freq=1)

In [25]:
## setup for early stoping for epochs
early_stoping_callback= EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [26]:
### Trainig the model
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),
    epochs=100,callbacks=[tensorflow_callback,early_stoping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 12s 14ms/step - loss: 100652.4062 - mae: 100652.4062 - val_loss: 98489.7266 - val_mae: 98489.7266
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 99138.1328 - mae: 99138.1328 - val_loss: 96810.3047 - val_mae: 96810.3047
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 97007.8750 - mae: 97007.8750 - val_loss: 92562.0000 - val_mae: 92562.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 92606.5625 - mae: 92606.5625 - val_loss: 85577.5312 - val_mae: 85577.5312
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 85524.7734 - mae: 85524.7734 - val_loss: 76783.6016 - val_mae: 76783.6016
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 76786.5078 - mae: 76786.5078 - val_loss: 67833.2031 - val_mae: 67833.2031
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 66709.8125 - mae: 66709.8125 - val_loss: 60307.5430 - val_mae: 60307.5430
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59347.8594 - mae: 59347.8594 - val_loss: 55264.1406 - val_mae: 55264.1406
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 55107.7461 - mae: 55107.7461 - val_loss: 52549.1367 - val_mae: 52549.1367
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 52145.5508 - mae: 52145.5508 - val_loss: 51388.6680 - val_mae: 51388.6680
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 51298.4805 - mae: 51298.4805 - val_loss: 50963.5156 - val_mae: 50963.5156
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50969.0938 - mae: 50969.0938 - val_loss: 50780.6094 - val_mae: 50780.6094
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 26ms/step - loss: 50995.9062 - mae: 50995.9062 - val_loss: 50679.4727 - val_mae: 50679.4727
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49885.1797 - mae: 49885.1797 - val_loss: 50620.4531 - val_mae: 50620.4531
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50359.5859 - mae: 50359.5859 - val_loss: 50560.3203 - val_mae: 50560.3203
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50769.0898 - mae: 50769.0898 - val_loss: 50519.6328 - val_mae: 50519.6328
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49735.4727 - mae: 49735.4727 - val_loss: 50477.3125 - val_mae: 50477.3125
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50621.0352 - mae: 50621.0352 - val_loss: 50438.9102 - val_mae: 50438.9102
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49532.9961 - mae: 49532.9961 - val_loss: 50408.2734 - val_mae: 50408.2734
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50191.7109 - mae: 50191.7109 - val_loss: 50390.2070 - val_mae: 50390.2070
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50032.6172 - mae: 50032.6172 - val_loss: 50359.5547 - val_mae: 50359.5547
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49917.7383 - mae: 49917.7383 - val_loss: 50338.7656 - val_mae: 50338.7656
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50355.8164 - mae: 50355.8164 - val_loss: 50331.0742 - val_mae: 50331.0742
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49231.9453 - mae: 49231.9453 - val_loss: 50314.3242 - val_mae: 50314.3242
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49624.7812 - mae: 49624.7812 - val_loss: 50307.9805 - val_mae: 50307.9805
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50348.7617 - mae: 50348.7617 - val_loss: 50297.9141 - val_mae: 50297.9141
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49589.8242 - mae: 49589.8242 - val_loss: 50288.0117 - val_mae: 50288.0117
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49660.8008 - mae: 49660.8008 - val_loss: 50281.9688 - val_mae: 50281.9688
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49903.0078 - mae: 49903.0078 - val_loss: 50274.3203 - val_mae: 50274.3203
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49869.4805 - mae: 49869.4805 - val_loss: 50261.6211 - val_mae: 50261.6211
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49739.7656 - mae: 49739.7656 - val_loss: 50258.7305 - val_mae: 50258.7305
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50065.1367 - mae: 50065.1367 - val_loss: 50252.2383 - val_mae: 50252.2383
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49687.4258 - mae: 49687.4258 - val_loss: 50241.3359 - val_mae: 50241.3359
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49387.9297 - mae: 49387.9297 - val_loss: 50239.7461 - val_mae: 50239.7461
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49865.0430 - mae: 49865.0430 - val_loss: 50229.3125 - val_mae: 50229.3125
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49803.8945 - mae: 49803.8945 - val_loss: 50230.7227 - val_mae: 50230.7227
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49260.1328 - mae: 49260.1328 - val_loss: 50233.5234 - val_mae: 50233.5234
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49790.5625 - mae: 49790.5625 - val_loss: 50221.8398 - val_mae: 50221.8398
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50128.4102 - mae: 50128.4102 - val_loss: 50220.6055 - val_mae: 50220.6055
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49938.4180 - mae: 49938.4180 - val_loss: 50218.9414 - val_mae: 50218.9414
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 26ms/step - loss: 49226.9453 - mae: 49226.9453 - val_loss: 50216.0938 - val_mae: 50216.0938
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49950.3828 - mae: 49950.3828 - val_loss: 50214.4258 - val_mae: 50214.4258
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49894.7109 - mae: 49894.7109 - val_loss: 50212.8242 - val_mae: 50212.8242
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49217.8477 - mae: 49217.8477 - val_loss: 50224.5312 - val_mae: 50224.5312
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49601.6172 - mae: 49601.6172 - val_loss: 50230.2070 - val_mae: 50230.2070
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49445.0430 - mae: 49445.0430 - val_loss: 50223.2812 - val_mae: 50223.2812
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49760.1172 - mae: 49760.1172 - val_loss: 50223.5039 - val_mae: 50223.5039
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50018.5547 - mae: 50018.5547 - val_loss: 50238.9023 - val_mae: 50238.9023
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49263.1914 - mae: 49263.1914 - val_loss: 50243.1992 - val_mae: 50243.1992
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49418.9414 - mae: 49418.9414 - val_loss: 50228.2461 - val_mae: 50228.2461
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50096.8867 - mae: 50096.8867 - val_loss: 50241.9727 - val_mae: 50241.9727
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49254.6875 - mae: 49254.6875 - val_loss: 50240.2070 - val_mae: 50240.2070
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49554.8203 - mae: 49554.8203 - val_loss: 50237.3242 - val_mae: 50237.3242

In [27]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir regressionlogs/fit241009-145413

In [31]:
## Evaluate the model
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f'Test Mae:{test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 51057.5938 - mae: 51057.5938
Test Mae:50212.82421875

In [32]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.